.toolbar {
    display:flex;
    justify-content: space-between;
    margin: 15px 0;
}

.pagination {
    text-align:center;
    margin:20px;
}

.dark {
    background:#121212;
    color:white;
}
.dark table {
    color:white;
}
